.author{
    .all{
        padding: 10px 0;
        .row{
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
            .layout{
                padding: 10px 1%;
                .layout-float{
                    display: flex;
                    justify-content: space-between;
                    .layout-cell{
                        margin: 10px 0;
                        display: flex;
                        justify-content: space-between; 
                    }
                }
                .layout-center-page{
                    display: flex;
                    padding: 20px 0;
                    justify-content: center;
                }
            }
        }
    }
}