body,html{
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

/* 纵向侧边栏容器*/
.sidebarContent {
  min-width: 64px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 80px 0 0;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 8px rgba(218,218,218,0.5);
  box-shadow: 2px 2px 8px rgba(218,218,218,0.5);
}

/* 主体内容容器*/
.mainContent {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f5f6fa;
  padding-top: 62px;
  padding-bottom: 0px;
}

.mainCenter {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 12px;
  height: calc(100% - 40px);
}

.translation-enter {
  opacity: 0;
  -ms-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
}

.translation-enter-active {
  transition: all .4s;
}

.translation-enter-to {
  opacity: 1;
  -ms-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.translation-leave-active {
  transition: all .4s;
}

.translation-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(40px);
  opacity: 0;
}

/* flex兼容写法*/
.flex{
  display: flex;
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
}
/* 父元素-纵向排列（主轴） */
.flex-column{
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}
/* 子元素-平均分栏 */
.flex1{
  -webkit-flex: 1; /* Chrome */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19- */
}
/* 父元素-横向换行 */
.flex-wrap{
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* 父元素-竖直居中（主轴是横向才生效） */
.align-center{
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.align-start{
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.align-end{
  -webkit-box-align: end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/* 父元素-水平居中（主轴是横向才生效） */
.justify-center{
  -webkit-box-pack: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.justify-between{
  -webkit-box-pack: justify;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.justify-around{
  -webkit-box-pack: justify;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.justify-end{
  -webkit-box-pack: end;
  -ms-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/*滚动条样式*/
::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  width: 8px;
  border-radius: 10px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #555;
}

/* 过渡*/
.transition {
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
}

// element-ui 全局css样式修改
// ---------------------------------------------------------
.el-menu {
  border-right: none;
}

.el-tabs {
  width: 100%;
}

.el-table {
  font-size: 13px;
}

.el-tabs__item {
  font-size: 13px;
}

.el-input {
  font-size: 13px;
}

.el-input__inner{
  height: 30px;
  line-height: 30px;
}

.el-button--primary{
  height: 30px;
  font-size: 13px;
  padding: 0 20px;
}

.el-checkbox {
  margin-right: 0;
}

.el-divider__text, .el-link{
  font-size: 13px;
}

.el-form-item__label,.el-form-item__content{
  font-size: 13px;
  line-height: 20px;
}

