body,html{
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

/* 纵向侧边栏容器*/
.sidebarContent {
  width: 200px;
  min-width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 80px 0 0;
  background-color: #ffffff;
  border-right: 1px #dadada solid;
}

/* 主体内容容器*/
.mainContent {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 102px 20px 0px 220px;
  background-color: #f5f6fa;
}

.translation-enter {
  opacity: 0;
  -ms-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
}

.translation-enter-active {
  transition: all .4s;
}

.translation-enter-to {
  opacity: 1;
  -ms-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.translation-leave-active {
  transition: all .4s;
}

.translation-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(40px);
  opacity: 0;
}

// element-ui 全局css样式修改
// ---------------------------------------------------------
.el-menu {
  border-right: none;
}

.el-tabs {
  width: 100%;
}

.el-table {
  font-size: 13px;
}

.el-tabs__item {
  font-size: 13px;
}

.el-input {
  font-size: 13px;
}

  .el-input__inner{
  height: 30px;
  line-height: 30px;
}

.el-button--primary{
  height: 30px;
  font-size: 13px;
  padding: 0 20px;
}

.el-checkbox {
  margin-right: 0;
}