.setup{
    .content{
        padding: 10px 0;
        .row{
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
            .layout{
                padding: 20px 0;
                .layout-cell{
                    display: flex;
                    justify-content: left;
                    padding: 10px 3%;
                    .layout-border{
                        width: 100%;
                        padding: 10px 10px;
                        border: 1px solid #dadada;
                        .bix{
                            padding: 10px 0;
                        }
                        .box{
                            display: flex;
                            justify-content: left;
                            p{
                                color: #e7505a;
                                line-height: 34px;
                            }
                            button{
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}