.data {
  .content {
    padding: 10px 0;

    .row {
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

      .layout {
        padding: 20px 0;

        .layout-cell{
          padding: 10px 0;

          .layout-pull{
            display: flex;
            padding: 0 10px;
            justify-content: space-between;

            .pull-left{
              display: flex;

              .cell-color{
                width: 3px;
                padding: 10px 0;
                background-color: #00a5ff;
              }

              p{
                line-height: 20px;
                padding: 0 10px;
              }

              i{
                line-height: 20px;
                color: #7f7f7f;
              }
            }
          }
        }
      }
    }
  }
}