.content-cell {
  .content {
    padding: 10px 0;

    .row {
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

      .layout {
        padding: 20px 0;

        .layout-cell {
          display: flex;
          justify-content: left;
          padding: 10px 3%;

          .data-title {
            width: 100px;
            padding: 6px 0;
            text-align: right;
            margin-right: 20px;
          }
        }
      }
    }
  }
}