.novel{
    width: 100%;
    .all{
        padding: 10px 0;
        .row{
            background-color: #fff;
            .layout-row{
                .layout-title{
                    font-size: 14px;
                    text-indent: 20px;
                    p{
                        padding: 20px 0;
                    }
                }
                .layout{
                    display: flex;
                    padding: 0px 20px;
                    .list{
                        display: flex;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}